/* 255,192,72 */ /* McMaster Yellow */

/* Global Style*/
* {
    margin: 0;
    padding: 0;
    overflow: auto;       /* do not overflow */
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.6rem;
  }
  li,
  button,
  label,
  input,
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: normal;
  }
  h4,h5{
      font-size: 1.6rem;
  }

/* hero */
.hero {
    background: url(../image/HH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;   /* centering MAS */
    justify-content: center;
}
.hero h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

/* Who are we */
.who-are-we {
    background: rgb(121, 0, 60);   /* McMaster Maroon */
    color: white;                  /* text color */
    display: table;
    padding: 4rem 2.7rem;
}
.who-are-we img {
    width: 18rem;
    object-fit: contain;
    display: block;
    margin: auto;
}
.who-are-we h2 {
    margin-bottom: 1%;
    text-align: center;
}
.who-are-we p {
    text-align: justify;
    text-align-last: center;  /* center the last line */
    margin: 1rem 4rem;
    line-height: 1.8;
}
@media screen and (max-width: 400px) {
    .who-are-we p {
        text-align: center;
    }
}

/* resources */
#resources {
    background: rgb(240, 239, 239);
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
}
#resources-section {
    background: rgb(240, 239, 239);
}
#resources-section h4 {
    padding-top: 2rem;
    font-family: Arial;   /* for bolding */
    font-size: 1.6rem;
}

#resources-section p {
    padding: 2rem;
    padding-bottom: 1rem;
}

#resources-section .card-container {
    margin: auto;
    height: 52vh;
    display: flex;
    justify-content: space-evenly;
}

#resources-section .card {
    height: 82%;
    border: darkgray;
    width: 25rem;
    text-align: center;
    flex-wrap: wrap;
    margin: 1rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

#resources-section .card-icon {
    height: 13%;
    background:rgb(121, 0, 60);
    position: sticky;   /* don't scroll the banner */
    top:0
}

#resources-section a {
    font-size: 1.6rem;
    display: block;
    padding-top: 0rem;
    background-color: rgb(121, 0, 60);
    color: white;
    border-radius: 10rem;
    margin: auto;
    width: 12rem;
    padding: 0.5rem 0rem;
    text-decoration: none;
}

@media screen and (max-width: 1050px) {
    #resources-section h4 {
        padding-top: 1rem;
    }
    #resources-section p {
        padding: 0.5rem;
    }
    #resources-section .card-container {
        display: list-item;
        height: max-content;  /* adjust for content */
        padding-bottom: 2rem;
    }
    #resources-section .card {
        margin: auto;
        width: 95%;
        height: min-content;
    }
    #resources-section .card-icon {
        height: 0.5rem;
    }
    #resources-section a {
        margin-bottom: 1rem;
    }
}

/* events */

#events {
    text-align: center;
    padding: 5rem;
}

.calendar-social-media {
    display: flex;
}

#calendar {
    flex:4;
    max-width: 70%;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    padding: 2%;
  }

.calendar-social-media #social-media{
    /* the width and height is set in html */
    overflow: visible;  /* prevent the view to get cut off since it doesn't resize */
    flex:1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .calendar-social-media {
        display: flex;
        flex-direction: column;
    }
    #calendar {
        max-width: 95%;
        margin: 1.5rem auto;
        font-size: 1.5rem;
        padding: 2%;
        font-size: small;
      }
      #events {
        padding: 2.5rem 1rem;
      }
}


