/* 255,192,72 */ /* McMaster Yellow */

/* Global Style*/
* {
    margin: 0;
    padding: 0;
    overflow: auto;       /* do not overflow */
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.6rem;
  }
  li,
  button,
  label,
  input,
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: normal;
  }
  h4,h5{
      font-size: 1.6rem;
  }

/* hero */
.hero {
    background: url(../image/HH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;   /* centering MAS */
    justify-content: center;
}
.hero h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

/* Meet the Team */
.meet-the-team h2{
    text-align: center;
    padding: 8rem 0rem 5rem 0rem;
}

.team-container {
    padding: 0rem 16rem 6rem 16rem;   /* rop right bottom left */
    display: flex;
    flex-direction: column;
}

.team-member {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: row;
}
.pic-and-role {
    flex-shrink: 0;
}

.meet-the-team img {
    width: 17rem;
    height: 17rem;   /* the perfect circle */
    /* object-fit: contain; */  /* commented out to prevent cut-off */
    border-radius: 50%;
}

.pic-and-role p {
    text-align: center;
    margin-top: 1.5rem;
}

.bio {
    margin-left: 6rem;
    padding-left: 2rem;
    border-left: rgb(121, 0, 60) 0.5rem solid;
}

.bio p {
    font-size: 1.6rem;
}

@media screen and (max-width: 1000px) {
    .team-container {
        padding: 0rem 5rem 2rem 5rem;   /* rop right bottom left */
    }
    .meet-the-team img {
        width: 17rem;
        height: 17rem;   /* the perfect circle */
        /* object-fit: contain; */  /* commented out to prevent cut-off */
        border-radius: 50%;
    }
    .bio {
        margin-left: 3rem;
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .meet-the-team h2{
        text-align: center;
        padding: 4rem 0rem 2rem 0rem;
    }
    .pic-and-role {
        margin-bottom: 1rem;
    }
    .team-container {
        padding: 0rem 5rem 2rem 5rem;   /* rop right bottom left */
    }
    .team-member {
        flex-direction: column;
    }

    .meet-the-team img {
        display: block;
        margin: auto;
        width: 13rem;
        height: 13rem;   /* the perfect circle */
        border-radius: 50%;
    }

    .bio {
        text-align: left;  /* otherwise the word spacings are terrible */
        margin-left: 1rem;
        padding-left: 1rem;
    }
}
